@model IEnumerable<BookShop.Book>

@{
    ViewBag.Title = "BookList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BookList</h2>

<p>
    @Html.ActionLink("Add New Book", "AddBook")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishingHouse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishingYear)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.StockAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoldAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author.AuthorName)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishingHouse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishingYear)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.StockAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoldAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author.AuthorName)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "EditBook", new { id=item.id }) |
            @Html.ActionLink("Details", "DetailsBook", new { id = item.id }) |
            @Html.ActionLink("Delete", "DeleteBook", new { id = item.id })
        </td>
    </tr>
}

</table>
