@model BookShop.DVD

@{
    ViewBag.Title = "DeleteDVD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteDVD</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DVD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DVDName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DVDName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMDB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMDB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Explanations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Explanations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoldAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoldAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.ProductType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.ProductType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director.DirectorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director.DirectorName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "DVDList")
        </div>
    }
</div>
