@model IEnumerable<BookShop.DVD>

@{
    ViewBag.Title = "DVDList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DVDList</h2>

<p>
    @Html.ActionLink("Create New", "AddDVD")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DVDName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMDB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Explanations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoldAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.ProductType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director.DirectorName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DVDName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMDB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Explanations)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoldAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.ProductType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Director.DirectorName)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditDVD", new { id=item.id }) |
            @Html.ActionLink("Details", "DetailsDVD", new { id = item.id }) |
            @Html.ActionLink("Delete", "DeleteDVD", new { id = item.id })
        </td>
    </tr>
}

</table>
