
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-horizontal">
    <h4>Admin Menu</h4>
    <ul>
        <li>@Html.ActionLink("Book", "BookList")</li>
        <li>@Html.ActionLink("DVD", "DVDList")</li>
        <li>@Html.ActionLink("MusicCD", "MusicCDList")</li>
        <li>@Html.ActionLink("Author", "AuthorList")</li>
        <li>@Html.ActionLink("Category", "CategoryList")</li>
        <li>@Html.ActionLink("Director", "DirectorList")</li>
        <li>@Html.ActionLink("Musician", "MusicianList")</li>
    </ul>
  
   
   
    
    
</div>